In [1]:
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('insurance.csv')#read data into datframe using pandas 
df.head()#look at data

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
#check for the null values in data
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [4]:
#there are some categorical and continuous variables.....but models need numric data for traning....hence the need of Label Encoding
#Label encoding converts categorical values in a column to suitable numric values
le=LabelEncoder()
#encoding sex column
le.fit(df.sex)
df.sex=le.transform(df.sex)
#encoding smoker column
le.fit(df.smoker)
df.smoker=le.transform(df.smoker)
#encoding region column
le.fit(df.region)
df.region=le.transform(df.region)

In [5]:
df.head(5)

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [6]:
#correlation is a term to define the strength of relation between two features
df.corr()['charges'].sort_values()

region     -0.006208
sex         0.057292
children    0.067998
bmi         0.198341
age         0.299008
smoker      0.787251
charges     1.000000
Name: charges, dtype: float64

In [7]:
#now we are ready to build our model
clf=LinearRegression()
x = df.drop(['charges'], axis = 1)
y = df.charges
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)
clf.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
clf.score(x_test,y_test)
#And our model is ready within 20 lines of code....hurray!!!!

0.7962732059725786

In [48]:
#change the features to see the effect of each feature on the model.....so called regression analysis
x = df.drop(['charges','region'], axis = 1)
x.head(5)

   age  sex     bmi  children  smoker
0   19    0  27.900         0       1
1   18    1  33.770         1       0
2   28    1  33.000         3       0
3   33    1  22.705         0       0
4   32    1  28.880         0       0

In [49]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)
clf.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [50]:
clf.score(x_test,y_test)

0.7952171980481992

In [51]:
#removing region feature doen not make a lot of difference
x = df.drop(['charges','sex'], axis = 1)
x.head(5)

   age     bmi  children  smoker  region
0   19  27.900         0       1       3
1   18  33.770         1       0       2
2   28  33.000         3       0       2
3   33  22.705         0       0       1
4   32  28.880         0       0       1

In [52]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)
clf.fit(x_train,y_train)
clf.score(x_test,y_test)

0.7962793642414525

In [53]:
#still no much difference
x = df.drop(['charges','bmi'], axis = 1)
x.head(5)

   age  sex  children  smoker  region
0   19    0         0       1       3
1   18    1         1       0       2
2   28    1         3       0       2
3   33    1         0       0       1
4   32    1         0       0       1

In [54]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)
clf.fit(x_train,y_train)
clf.score(x_test,y_test)

0.7704906224673702

In [ ]:
#this affects the acuuracy little bit...indicating that bmi is an important feature....In this way you can explore more.....thats it for now